<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'weapon/js/weapon.js' %}"></script>
</head>
<body>
<h1>欢迎您,Csgoer</h1>
<hr>
<form name='login' onsubmit="return verify_login()" action="{% url 'weapon:okk3' %}" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="username" value=""><hr>
    密码：<input type="text" name="password" value=""><hr>
    验证码：<input type="text" name="verify_code" value="">
    <span><img src="{% url 'weapon:get_verify_code' %}"></span>&nbsp; {{flag}}<hr>
    <input type="submit" value="登录">
</form>

</body>
</html>